body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

::v-deep .el-dialog__header {
  border-bottom: 1px solid #e5e4e4 !important;
  .el-dialog__title {
    font-size: 1rem;
    font-weight: 800;
  }
}
 